 <h1>{{categoria.nome}}</h1>

<h1>{{categoria.slug}}</h1>
{{#each postagens}}

  <div class="card"> 
    <div class="card-body">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      
      <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      
      
      <small>Data de publicação: {{#formatDate data}}{{/formatDate}}</data></small>
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem</h5>
{{/each}}